table {
  width: 100%;
  /* display: flex; */
}

.scrollable-table {
  height: 40vh;
  overflow-y: scroll;
}

thead {
  text-align: center;
  align-items: stretch;
  margin:0;
  background-color: #EFEFEF;
  min-width: 100%;
}

tbody {
  /* display: table; */
  flex-grow: 1;
  height: 40vh;
  overflow-y: scroll;
  width: 100%;
}

th {
  width: 50%;
}

td {
  width: 50%;
}

.add-participant-button{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.total-meal-cost{
  margin-bottom: 1vh;
}

.individual-participants-table{
  padding-top: 5%;
}